In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
article = pd.read_csv('/content/drive/MyDrive/자연어처리/articles.csv/articles.csv')
customer = pd.read_csv('/content/drive/MyDrive/자연어처리/customers.csv/customers.csv')
transanctions = pd.read_csv('/content/drive/MyDrive/자연어처리/transactions_train.csv/transactions_train.csv')

In [ ]:
article.shape

(105542, 25)

In [ ]:
customer.shape

(1371980, 7)

In [ ]:
transanctions.shape

(31788324, 5)

In [ ]:
article.describe()

         article_id   product_code  ...     section_no  garment_group_no
count  1.055420e+05  105542.000000  ...  105542.000000     105542.000000
mean   6.984246e+08  698424.563378  ...      42.664219       1010.438290
std    1.284624e+08  128462.384432  ...      23.260105          6.731023
min    1.087750e+08  108775.000000  ...       2.000000       1001.000000
25%    6.169925e+08  616992.500000  ...      20.000000       1005.000000
50%    7.022130e+08  702213.000000  ...      46.000000       1009.000000
75%    7.967030e+08  796703.000000  ...      61.000000       1017.000000
max    9.594610e+08  959461.000000  ...      97.000000       1025.000000

[8 rows x 11 columns]

In [ ]:
customer.describe()

             FN    Active           age
count  476930.0  464404.0  1.356119e+06
mean        1.0       1.0  3.638696e+01
std         0.0       0.0  1.431363e+01
min         1.0       1.0  1.600000e+01
25%         1.0       1.0  2.400000e+01
50%         1.0       1.0  3.200000e+01
75%         1.0       1.0  4.900000e+01
max         1.0       1.0  9.900000e+01

In [ ]:
customer.head(10)

                                         customer_id  ...                                        postal_code
0  00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...  ...  52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1  0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...  ...  2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...  ...  64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3  00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...  ...  5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4  00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...  ...  25fa5ddee9aac01b35208d01736e57942317d756b32ddd...
5  000064249685c11552da43ef22a5030f35a147f723d5b0...  ...  2c29ae653a9282cce4151bd87643c907644e09541abc28...
6  0000757967448a6cb83efb3ea7a3fb9d418ac7adf2379d...  ...  fe7b8e2b3fafb89ca90db17ffeeae0fd29b795d803f749...
7  00007d2de826758b65a93dd24ce629ed66842531df6699...  ...  8d6f45050876d059c830a0fe63f1a4c022de279bb68ce3...
8  00007e8d4e54114b5b2a9b51586325a8d0fa74ea23ef77...  ...  2c29ae653a9282cce4151bd87643c907644e09541abc28...
9  00008469a21b50b3d147c97135e25b4201a8c58997f787...  ...  2c29ae653a9282cce4151bd87643c907644e09541abc28...

[10 rows x 7 columns]

In [ ]:
article.head(10)

   article_id  ...                                        detail_desc
0   108775015  ...            Jersey top with narrow shoulder straps.
1   108775044  ...            Jersey top with narrow shoulder straps.
2   108775051  ...            Jersey top with narrow shoulder straps.
3   110065001  ...  Microfibre T-shirt bra with underwired, moulde...
4   110065002  ...  Microfibre T-shirt bra with underwired, moulde...
5   110065011  ...  Microfibre T-shirt bra with underwired, moulde...
6   111565001  ...  Semi shiny nylon stockings with a wide, reinfo...
7   111565003  ...  Semi shiny nylon stockings with a wide, reinfo...
8   111586001  ...  Tights with built-in support to lift the botto...
9   111593001  ...  Semi shiny tights that shape the tummy, thighs...

[10 rows x 25 columns]

Warning: Total number of columns (25) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
customer.dtypes

customer_id                object
FN                        float64
Active                    float64
club_member_status         object
fashion_news_frequency     object
age                       float64
postal_code                object
dtype: object

In [ ]:
article.dtypes

article_id                       int64
product_code                     int64
prod_name                       object
product_type_no                  int64
product_type_name               object
product_group_name              object
graphical_appearance_no          int64
graphical_appearance_name       object
colour_group_code                int64
colour_group_name               object
perceived_colour_value_id        int64
perceived_colour_value_name     object
perceived_colour_master_id       int64
perceived_colour_master_name    object
department_no                    int64
department_name                 object
index_code                      object
index_name                      object
index_group_no                   int64
index_group_name                object
section_no                       int64
section_name                    object
garment_group_no                 int64
garment_group_name              object
detail_desc                     object
dtype: object

In [ ]:
transanctions.dtypes

t_dat                object
customer_id          object
article_id            int64
price               float64
sales_channel_id      int64
dtype: object

In [ ]:
article.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105542 entries, 0 to 105541
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   article_id                    105542 non-null  int64
 1   product_code                  105542 non-null  int64
 2   prod_name                     105542 non-null  object
 3   product_type_no               105542 non-null  int64
 4   product_type_name             105542 non-null  object
 5   product_group_name            105542 non-null  object
 6   graphical_appearance_no       105542 non-null  int64
 7   graphical_appearance_name     105542 non-null  object
 8   colour_group_code             105542 non-null  int64
 9   colour_group_name             105542 non-null  object
 10  perceived_colour_value_id     105542 non-null  int64
 11  perceived_colour_value_name   105542 non-null  object
 12  perceived_colour_master_id    105542 non-null  int64
 13  perceived_colour_master_name  105542 non-null  object
 14  department_no                 105542 non-null  int64
 15  department_name               105542 non-null  object
 16  index_code                    105542 non-null  object
 17  index_name                    105542 non-null  object
 18  index_group_no                105542 non-null  int64
 19  index_group_name              105542 non-null  object
 20  section_no                    105542 non-null  int64
 21  section_name                  105542 non-null  object
 22  garment_group_no              105542 non-null  int64
 23  garment_group_name            105542 non-null  object
 24  detail_desc                   105126 non-null  object
dtypes: int64(11), object(14)
memory usage: 20.1+ MB

In [ ]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1371980 entries, 0 to 1371979
Data columns (total 7 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   customer_id             1371980 non-null  object
 1   FN                      476930 non-null   float64
 2   Active                  464404 non-null   float64
 3   club_member_status      1365918 non-null  object
 4   fashion_news_frequency  1355971 non-null  object
 5   age                     1356119 non-null  float64
 6   postal_code             1371980 non-null  object
dtypes: float64(3), object(4)
memory usage: 73.3+ MB

In [ ]:
transanctions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31788324 entries, 0 to 31788323
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   t_dat             object
 1   customer_id       object
 2   article_id        int64
 3   price             float64
 4   sales_channel_id  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.2+ GB